.number{
    display: inline-block;
    margin-right: 5px;
}
.songsWrapper{
    padding: 0;
    margin: 0;
}
.songsWrapper li{
    list-style: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    transition: 0.2s;
    color: #414450;
}
.songsWrapper li a{
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    color: #414450;
    padding: 0;
    margin: 0;
}
.notResult{
    display: block;
    text-align: center;
    font-weight: bold;
    opacity: 0.2;
    color: #333;
    font-size: 20px;
}